/*
 * Resources.rc
 *
 * Resource file containing images, dialog boxes and manifest for CodeSnip
 * program.
 *
 * Originally named Images.rc, containing only images. Renamed as Resources.rc
 * at v2.0.
 *
 * v0.1 of 05 Mar 2005  - Original version, containing only images. Named
 *                        Images.rc.
 * v0.2 of 07 Jan 2006  - Added glyphs for Delphi 2005/5 for Win32.
 * v0.3 of 02 Apr 2006  - Added program's main icon.
 * v1.0 of 29 May 2006  - Extended code commenting.
 *                      - Changed to access resources in new Res/Img folder.
 * v1.1 of 31 Oct 2006  - Added bitmap containing check boxes used in tree
 *                        views.
 * v1.2 of 03 Feb 2007  - Added bitmaps for search glyphs displayed in status
 *                        bar.
 * v1.3 of 08 May 2007  - Added glyph for Delphi 2007.
 * v2.0 of 21 Apr 2008  - Added definition of template dialog box formerly in
 *                        Dialogs.rc.
 *                      - Added new manifest file used to configure program for
 *                        use with Windows XP and Vista.
 *                      - Renamed from Images.rc to Resources.rc.
 * v2.1 of 11 Aug 2008  - Replaced duplicated compiler glyphs with single,
 *                        renamed resources and bitmaps.
 * v2.2 of 03 Jan 2009  - Added bitmap for user database modified indicator
 *                        displayed in status bar.
 * v2.3 of 17 Jun 2009  - Added new splash screen gif image.
 *
 *
 * ***** BEGIN LICENSE BLOCK *****
 *
 * Version: MPL 1.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
 * the specific language governing rights and limitations under the License.
 *
 * The Original Code is Resources.rc.
 *
 * The Initial Developer of the Original Code is Peter Johnson
 * (http://www.delphidabbler.com/).
 *
 * Portions created by the Initial Developer are Copyright (C) 2005-2009 Peter
 * Johnson. All Rights Reserved.
 *
 * ***** END LICENSE BLOCK *****
 */


/*
  Images representing Delphi compilers
*/
DELPHI2AND3 BITMAP "Res/Img/Delphi2_3.bmp"
DELPHI4 BITMAP "Res/Img/Delphi4.bmp"
DELPHI5 BITMAP "Res/Img/Delphi5.bmp"
DELPHI6 BITMAP "Res/Img/Delphi6.bmp"
DELPHI7 BITMAP "Res/Img/Delphi7.bmp"
BDS BITMAP "Res/Img/BDS.bmp"


/*
  Check boxes used in treeviews
*/
TVCHECKBOXES BITMAP "Res/Img/TVCheckBoxes.bmp"


/*
  Search glyphs and modified for display in status bar
*/
COMPILERSEARCH BITMAP "Res/Img/CompilerSearch.bmp"
TEXTSEARCH BITMAP "Res/Img/TextSearch.bmp"
SELECTIONSEARCH BITMAP "Res/Img/SelectionSearch.bmp"
XREFSEARCH BITMAP "Res/Img/XRefSearch.bmp"
NULSEARCH BITMAP "Res/Img/NulSearch.bmp"
MODIFIED BITMAP "Res/Img/Modified.bmp"


/*
  Splash screen image
*/
SPLASHIMAGE RCDATA "Res/Img/Splash.gif"


/*
  Program's icon
*/
MAINICON ICON "Res/Img/CodeSnip.ico"


/*
  Dialog resource used to extend save dialog box
*/
SAVESNIPPETEXT DIALOG 0, 0, 0, 142
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
  /*
    Hidden static control required by Windows to extend dialog. Dialog is
    extended by difference between dialog size and size of this static control
  */
  LTEXT "", 1119, 0, 0, 0, 100, SS_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_GROUP
}


/*
  XP and Vista manifest file
*/
1 24 "Res/Misc/CodeSnip.manifest"

