# .gitignore file for CodeSnip project

# Delphi generated temporary files and directories
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.~*
__history/

# Project specific directories & files
Bin
Exe
Release
Src/CodeSnip.cfg
Src/AutoGen/IntfExternalObj.pas
Src/Portable/CodeSnipPortable.cfg
Src/Main/AutoGen/IntfExternalObj.pas
belvedere/src/CodeSnip5.res
